<nav>
    <ul>
        <li><a href="#" aria-label="Navigate to home page">Home</a></li>
        <li><a href="#" aria-label="Navigate to custom vehicles">Custom</a></li>
        <li><a href="#" aria-label="Navigate to seden vehicles">Seden</a></li>
        <li><a href="#" aria-label="Navigateto SUV vehicles">SUV</a></li>
        <li><a href="#" aria-label="Navigate to truck vehicles">Truck</a></li>
    </ul>
</nav>