
    <main>
      <h1><%= title %></h1>
      <%- messages() %>
     
      <div class="management-links">
        <h2>Inventory Management</h2>
        <p>Use the links below to manage your inventory:</p>
       
        <ul>
          <li><a href="/inv/add-classification">Add New Classification</a></li>
          <li><a href="/inv/add-inventory">Add New Vehicle</a></li>
        </ul>
      </div>
    </main>
